body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
}

.navbar {
  background: #1e293b;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.task-form {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.task-form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  flex: 1;
}

.task-form button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.task-form button:hover {
  background: #1d4ed8;
}

.task-card {
  background: white;
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

.status {
  background: #facc15;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
}

.status.completed {
  background: #22c55e;
  color: white;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  cursor: pointer;
}