* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #000000;
}

/* Layout */
.layout {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #111827;
  color: white;
  padding: 30px 20px;
}

.sidebar h2 {
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 20px;
  cursor: pointer;
  opacity: 0.8;
}

.sidebar li:hover {
  opacity: 1;
}

/* Main */
.main {
  flex: 1;
  padding: 30px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* Stats Cards */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: rgb(4, 0, 0);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card h4 {
  color: #000000;
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}

/* Table */
.task-table {
  background: rgb(0, 0, 0);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.task-table h3 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 12px;
}

th {
  background: #000000;
}

tr {
  border-bottom: 1px solid #0a0101;
}

/* Status Badges */
.badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
}

.pending {
  background: #f7f7f7;
  color: #92400e;
}

.completed {
  background: #000000;
  color: #f9fffd;
}

.primary-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.primary-btn:hover {
  background: #1e40af;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}